* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    /* display: flex; */
  }

  
  h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: larger;
  }
  
  .input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li .actions button {
    margin-left: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  li .actions button.delete-btn {
    background-color: #dc3545;
  }
  
  li .actions button:hover {
    opacity: 0.8;
  }
 
  .mera-naam{
    position: absolute;
    bottom: 20px;
    right:20px;
  }